.subsection-main-div {
    width: 100%;
}

.add-button {
    margin-left: 60%;
    margin-top: 15px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    border: none;
    background-color: #3671E8;
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.add-button:focus {
    outline: none;
}

.add-button:hover {
    background-color: #003BB1;
}