.on-right {
    margin-left: 50%;
}

.fly-out {
    animation: fly-left ease-in 1s forwards;
}

@keyframes fly-left {
    0% {
        transform: translateX(0px);
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
    100% {
        transform: translateX(-50%);
        opacity: 0;
    }
}

.fly-in {
    animation: fly-right ease-in 1s forwards;
}

@keyframes fly-right {
    0% {
        transform: translateX(0);
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    100% {
        transform: translateX(-50%);
        opacity: 1;
    }
}

.hidden {
    display: none;
}