.main-bar-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.section-bar-item {
    width: 70px;
    height: 70px;
    border: solid;
    border-color: #707070;
    border-width: 2px;
    border-radius: 35px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.overview-icon {
    height: 40px;
    width: 40px;
    align-self: center;
    opacity: 0.5;
}

.details-icon {
    height: 35px;
    width: 35px;
    align-self: center;
}

.novelty-icon {
    height: 50px;
    width: 50px;
    margin-left: 2px;
    align-self: center;
    opacity: 0.5;
}

.review-icon {
    height: 36px;
    width: 36px;
    align-self: center;
    opacity: 0.5;
}

.section-bar-line {
    width: 10vw;
    height: 2px;
    background-color: #707070;
}

.section-bar-line-selected {
    background-color: #6699FF;
}

.section-bar-image-selected {
    opacity: 1 !important;
}

.selected {
    border-color: #3366CC;
}

.section-bar-div {
    width: 100px;
    margin-right: -30px;
    height: 70px;
}

.section-bar-text {
    position: absolute;
    width: 140px;
    text-align: center;
    top: 150px;
    margin-left: -35px;
    font-size: 12px;
    color: #707070;
}

.section-bar-text-selected {
    color: #3366CC !important;
}