.centering-div {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;

    animation: fade-in 0.75s linear forwards;
    animation-delay: 0.25s;
}

.title-text {
    font-size: 48px !important;
    color: #2E2D2D;
}

.large-button {
    color: white;
    text-decoration: none;
    border-radius: 10px;
    border: none;
    background-color: #3671E8;
    font-size: 30px;
    margin-top: 45px;
    padding-left: 15px;
    padding-right: 15px;
    transition: 0.4s;
}

/* Makes it so there's no border when you click on it */
.large-button:focus {
    outline: none;
}

.large-button:hover {
    background-color: #003BB1;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}